*
!.gitignore
!STM32CubeIDE_1.14.0/
!STM32CubeIDE_1.14.0/preferences and development artifacts/
!STM32CubeIDE_1.14.0/preferences and development artifacts/**/
!STM32CubeIDE_1.14.0/preferences and development artifacts/**/main.c
!STM32CubeIDE_1.14.0/preferences and development artifacts/**/*_msp.c
